<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<script type="text/javascript" src="../../static/js/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="../../static/js/htmleditor.js"></script>
	<link rel="stylesheet" href="../../static/uikit/uikit-2.25.0/css/components/htmleditor.css" />
	<link rel="stylesheet" href="../../static/uikit/uikit-2.25.0/css/uikit.css" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
	<!--顶部内容-->
	<div class="uk-container uk-container-center">
		top content , nav&info
		<!--TODO 博客发表页面，博客展示页面-->
	</div>

	<div>
		<input id="blog_title" type="text" placeholder="标题" /><br/><br>
		<textarea data-uk-htmleditor="{markdown:true}" id="blog_content" rows="5" cols="50" placeholder="内容" ></textarea><br/><br>
		<select>
			<option>c++</option>
			<option>java</option>
			<option>算法</option>
		</select>
		<button id="submit">提交</button>
	</div>
</body>
<script type="text/javascript">
    $(document).ready(function(){
        // alert("a");
        $("#submit").click(function(){
            var blog_title = $("#blog_title").val()
            var blog_content = $("#blog_content").val();
            $.ajax({
                url:"/blog/add_blog",
                type: "POST",
                dataType: "text",
                data:{
                    "blog_title":blog_title,
                    "blog_content":blog_content
                },
                success:function(data){
                    alert(data);
                },
                error:function(data){
            		alert("content");
                }
            })
        })
    })
</script>
</html>