<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片上传</title>
    <script type="text/javascript" src="/static/js/req.js" ></script>
</head>
<body>
<div id="upload_img_div">
    <input type="file" name="file" id="file"/>
    <button type="button" onclick="upload_file('/pic/putpic', 'PUT')">uploadNOW</button>
</div>
    <div>
        <label for="upload_img_div"></label>
        <div>
            <img width="200px" id="review" src="/pic/getpic/NDA=" />
        </div>
        <div>
            <label for="short_link">短链接为</label>
            <div id="short_link"></div>
        </div>
    </div>
</body>
</html>
