<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--对博客表的操作-->
<mapper namespace="com.blog.mapper.BlogMapper">
    <select id="getBlogList" resultType="com.blog.bean.Blog">
      select * from blog
    </select>
    
    <select id="getBlogById" parameterType="int" resultType="com.blog.bean.Blog">
        select * from blog where blog_id = #{blog_id}
    </select>
    
    <insert id="addBlog" parameterType="com.blog.bean.Blog" >
        insert into blog
        (
          blog_title,blog_content,blog_desc,start_date,last_modity_date,read_number
        )
        values
        (
          #{blog.blog_title},{blog.blog_content},#{blog.blog_desc},#{blog.start_date},#{blog.last_modity_date},#{blog.read_number},
        )
    </insert>
    
    <update id="updateBlog" parameterType="com.blog.bean.Blog">
        update blog set
        blog_title = #{blog.blog_title},
        blog_content = #{blog.blog_content},
        blog_desc = #{blog.blog_desc},
        start_date = #{blog.start_date},
        last_modity_date = #{blog.last_modity_date},
        read_number = #{blog.read_number}
        where blog_id = #{blog.blog_id}
    </update>
</mapper>