<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>博客编辑</title>
    <link rel="stylesheet" href="/editormd/css/editormd.css" />
    <script src="/editormd/src/jquery.min.js" ></script>
    <script src="/editormd/editormd.js"></script>
    <link rel="stylesheet" href="../static/uikit/uikit-2.25.0/css/uikit.almost-flat.min.css" />
    <script src="/static/js/req.js"></script>
    <script>
        function pullThemesFromBack(){
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/blog/getThemes", true);
            xhr.setRequestHeader("content-type", "application/json");
            xhr.send();
            xhr.onreadystatechange = function(){
                if(xhr.readyState === 4 && xhr.status === 200){
                    var response = JSON.parse(xhr.responseText);
                    var list = JSON.parse(response['response_data']);
                    //初始化页面结构
                    for(var i=0;i<list.length;i++){
                        var themeId = list[i].id;
                        var theme_name = list[i].theme_name;
                        var option = document.createElement("option");
                        option.setAttribute("value", themeId);
                        option.innerText = theme_name;
                        document.getElementById("theme_selection").appendChild(option);
                    }
                }
            }
        }
        pullThemesFromBack();
    </script>
    <style>
        #top-panel{
            width: 90%;
            margin: 30px auto;
        }
    </style>
</head>
<body>
    <div id="top-panel">
        <div class="uk-container-center">
            <div class="uk-form uk-form-horizontal">
                <div class="uk-form-row">
                    <label class="uk-text-primary uk-form-label"  for="title">博客的标题：</label>
                    <input type="text" class="uk-form-width-large" id="title" />
                </div>
                <div class="uk-form-row">
                    <label class="uk-text-primary uk-form-label"  for="theme_selection">博客的主题：</label>
                    <select id="theme_selection">
                        <option value="0" selected="selected">选择一个theme吧！</option>
                    </select>
                </div>
                <div class="uk-form-row">
                    <label class="uk-text-primary uk-form-label"  for="content-abstract">博客概要介绍：</label>
                    <textarea rows="3" cols="80" style="resize: none;" draggable="false" id="content-abstract" ></textarea>
                </div>
                <div class="uk-form-row">
                    <label class="uk-text-primary uk-form-label"  for="content-abstract">操作：</label>
                    <button type="button" class="uk-button uk-button-success" onclick="_commit_blog()">保存</button>
                    <button type="button" class="uk-button uk-button-primary">可见</button>
                </div>
            </div>
        </div>
    </div>
    <div id="editArea"></div>
</body>
<script type="text/javascript">
    var editor;
    $(function() {
        editor = editormd("editArea", {
            width: "90%",
            height: 700,
            path : '/editormd/lib/',
            // theme : "dark",
            // previewTheme : "dark",
            // editorTheme : "pastel-on-dark",
            // markdown : md,
            codeFold : true,
            //syncScrolling : false,
            saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
            searchReplace : true,
            //watch : false,                // 关闭实时预览
            htmlDecode : "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启
            //toolbar  : false,             //关闭工具栏
            //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
            emoji : true,
            taskList : true,
            tocm : true,         // Using [TOCM]
            tex : true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart : true,             // 开启流程图支持，默认关闭
            sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
            //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
            //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
            //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
            //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
            //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
            // imageUpload : true,
            // imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            // imageUploadURL : "./php/upload.php",
            // onload : function() {
            //     console.log('onload', this);
                //this.fullscreen();
                //this.unwatch();
                //this.watch().fullscreen();

                //this.setMarkdown("#PHP");
                //this.width("100%");
                //this.height(480);
                //this.resize("100%", 640);
            // }
        });
    });

    function getMarkdownData(){
        return editor.getMarkdown();
    }

    function getHtmlPreviewData(){
        return editor.getHTML();
    }

    function _commit_blog(){
        checkValid();
        console.log(getMarkdownData());
        console.log(getHtmlPreviewData());
        commit_blog(getMarkdownData(), getHtmlPreviewData());
    }

    function printMarkdown(){
        alert(getMarkdownData());
    }

    function checkValid(){
        var title = document.getElementById("title").value;
//        var theme_id = document.getElementById('theme_selection').options[document.getElementById('theme_selection').selectedIndex].value;
        var abstract = document.getElementById("content-abstract").value;
        if(title === ''){
            alert("please input the title");
            return;
        }
        if(abstract === ''){
            alert("please input the abstract");
            return;
        }
    }

    function update(){
        //若服务器没有该blog，则初始化新的记录，若存在，则更新值
    }

    //自动保存，一般在不小心跳转或者关闭页面的时候触发，也有定时保存。
    function autocommit(){
        //todo;
    }
</script>
</html>