<html>
<head>
    <meta charset="UTF-8">
    <title>Example</title>
</head>
<body>
<button id="printHtml">输出html</button>
<div id="main-area"></div>
</body>
<script type="text/javascript">
    $(function() {
        testEditor = editormd("main-area", {
            width   : "90%",
            height  : 640,
            syncScrolling : "single",
            path    : "../lib/",
            theme : "dark",
            toolbar  : false,
            saveHTMLToTextarea : true
        });

    });

</script>
</html>