<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客管理</title>
    <link rel="stylesheet" href="../static/uikit/uikit-2.25.0/css/uikit.almost-flat.min.css"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <script type="text/javascript" src="/static/js/req.js"></script>
    <script>
        //获取表格，填充，构造按钮，点击编辑则进入编辑页面，点击关闭则将deleted字段设为1
        //向后台获取blog列表
        function initTable() {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/blog/get_all_blog/", true);
            xhr.setRequestHeader("content-type", "application/json");
            xhr.send();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    var list = JSON.parse(response['response_data']);
                    const tbody = document.getElementById("tbody");
                    for(var i = 0; i<list.length; i++){
                        var tr = document.createElement("tr");
                        //todo 博客主题获取，表单状态标识逻辑
                        tr.innerHTML = "<td>" + list[i].id + "</td>" +
                            "<td>" + list[i].title + "</td>" +
                            "<td>" + '未知' + "</td>" +
                            "<td>" + list[i].commit_date + "</td>" +
                            "<td>" + list[i].lasted_update_date + "</td>" +
                            "<td>" + '<button type="button" class="uk-button uk-button-danger" onclick="close_blog(' + list[i].id + ')">关闭</button>' +
                                "&nbsp;&nbsp;" +
                                    '<button type="button" class="uk-button uk-button-primary" onclick="edit_blog(' + list[i].id + ')">编辑</button>' +
                            "</td>";
                        tbody.appendChild(tr);
                    }
                }
            };
        }
        initTable();

        function close_blog(id){
            alert("are you sure to delete close this blog ?");
            console.log("close blog for " + id);
        }
        function edit_blog(id){
            console.log("edit blog for " + id);
            window.location.href = "/blog/blog_edit?mode=update&id=" + id;
            //进入编辑页面，携带id参数，新页面初始化页面数据，后续逻辑与新建blog逻辑一致。
        }
    </script>
    <style>

    </style>
</head>
<body>
<div class="uk-container-center">
    <table class="uk-table uk-table-hover uk-table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>主题</th>
            <th>发布时间</th>
            <th>最近修改时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
</div>
</body>
</html>