<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="../static/uikit/uikit-2.25.0/css/uikit.min.css" />
	<!--<link rel="stylesheet" href="/static/uikit/uikit-2.25.0/css/uikit.css" />-->
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
	<div class="uk-block uk-block-secondary uk-contrast">
		<div class="uk-container uk-container-center">
			<h1 class=" uk-responsive-width">YANCHAO</h1>
		</div>
		<div class="uk-container uk-container-center">
			<span><a target="_blank" href="https://github.com/mscyan" class="uk-icon-button uk-icon-hover uk-icon-github icon"></a></span>
			<span><a target="_blank" href="https://stackoverflow.com/users/8979577/yanchao" class="uk-icon-button uk-icon-hover uk-icon-stack-overflow icon"></a></span>
			<span><a target="_blank" href="" class="uk-icon-button uk-icon-code-fork"></a> </span>
			<span><a class="uk-icon-button uk-icon-search uk-align-right"></a></span>
		</div>
	</div>
	<div class="uk-block">
		<div class="uk-container-center uk-contrast uk-container">
			页面主要内容
			<div class="uk-flex">
				<div class="uk-width-1-4" style="background-color:#ee465a">
					<ul>
						<li>Todo</li>
						<li>文章</li>
					</ul>
				</div>
				<div class="uk-width-3-4" style="background-color:#00a8e6">
					content
				</div>
			</div>
		</div>

	</div>

</body>
</html>