<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台</title>
    <link rel="stylesheet" href="../static/uikit/uikit-2.25.0/css/uikit.min.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="/static/mdl/material.css"/>
    <link rel="stylesheet" href="/static/mdl/style.css"/>
    <script src="/static/js/vue.js"></script>
    <style>

    </style>
</head>
<body>
    <div id="manager">
        <!-- 管理页 整合 博客、文章、主题、待办模块 -->
    </div>
</body>
<script>
    var app = new Vue({
        el: '#manager',
        data: {

        },
        created: function() {

        },
        methods:{

        }
    })
</script>
</html>